fastapi==0.95.1
google-cloud-vision==3.7.3
inference_sdk==0.15.1
opencv-python-headless==4.10.0.84
opencv-python==4.10.0.84
ipywidgets==7.7.1
Pillow==9.4.0
scikit-image==0.23.2
google-cloud-datastore==2.19.0
google-cloud-firestore==2.16.1
google-cloud-storage==2.8.0
firebase-admin
uvicorn
torch
